<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title><%= title %> - <%=website.webname() %></title>
    <link href='/stylesheets/bootstrap.css' rel="stylesheet" type="text/css" />
    <link href='/stylesheets/style.css' rel="stylesheet" type="text/css" />

</head>
<body style="background-color: #ebebeb">

<div id="tip-view-s" class="alert alert-success navbar-fixed-top top-alert" style="display: none">
    <p id="tip-text-s"></p>
</div>
<div id="tip-view-e" class="alert alert-warning navbar-fixed-top top-alert" style="display: none">
    <p id="tip-text-e"></p>
</div>
<!--<div class="toolbar">-->
<!--<a href="javascript:;" class="toolbar-item toolbar-item-code"><span class="toolbar-layer"></span></a>-->
<!--<a href="javascript:;" class="toolbar-item toolbar-item-app"><span class="toolbar-layer"></span></a>-->
<!--</div>-->
<% if (success) { %>
<div id="alert-view" class="alert alert-success navbar-fixed-top top-alert">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= success %>
</div>
<% } %>
<% if (error) { %>
<div id="alert-view" class="alert alert-warning navbar-fixed-top top-alert">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= error %>
</div>
<% } %>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<div id="" class="" style="margin-top: 0px">
    <%- body %>
    <footer>
        <div style="text-align: center;margin-top: 50px">
            <p style="color: rgba(41,41,41,0.94);font-size: 12px">Powered by <a href="https://ipack.pub" target="_blank">iPack</a>&nbsp;<%= website.version() %>&nbsp;&nbsp;©&nbsp;2017&nbsp;<a style="color: rgba(41,41,41,0.8)" href="<%= website.url() %>" target="_blank"><%= website.webname() %></a></p>
        </div>
    </footer>
</div>
</body>

<script language="JavaScript">
    window.onload = function () {
        setTimeout(hide, 1000);
//        $('.toolbar-item-code .toolbar-layer').css("background-image","url(/qrcode?url=http://baidu.com)")
    }
    function hide() {
        var alertView = window.document.getElementById('alert-view');
        if (alertView) {
            alertView.style.display = 'none';
        }
    }
    function showSuccess(text) {
        var alertView = window.document.getElementById('tip-view-s');
        if (alertView) {
            alertView.style.display = 'inline';
            $("#tip-text-s").text('    ' + text);
            setTimeout(function () {
                alertView.style.display = 'none';
            },1000);
        }

    }
    function showError(text) {
        var alertView = window.document.getElementById('tip-view-e');
        if (alertView) {
            alertView.style.display = 'inline';
            $("#tip-text-e").text('    ' +text);
            setTimeout(function () {
                alertView.style.display = 'none';
            },1000);
        }

    }
</script>
</html>